/* Created a variable to replace all color attributes of the same color */
:root {
    --light: #01e3c1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif, Tahoma, Cambria, Cochin, Georgia, Times, 'Times New Roman';
    background-color:rgb(1, 18, 35);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px 0px 5px;
    background-color:rgb(1, 18, 35);
    color: var(--light);
}

h1 {
    font-size: 200%;
    padding: 2.5px 10px 2px 50px;
    font-family: cursive;
    border-style:double;
    
}

h2 {
    background-color: #3f71a0;
    background-image: url("../images/IMG_5166.jpg");
    background-size: cover;
    padding-left: 1500px;
}

h2 p {
    display: flex;
    justify-content: end;
    padding: 125px 30px 25px 0px;
    color: var(--light);
}

/* Only unordered list in nav get these styles */
nav ul, footer {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    margin: 25px;
    list-style: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav a, footer {
    color: #01e3c1;
    font-weight: bold;
}

/* Creating hover effect over clickable titles */
nav ul li a:hover, footer {
    color:aliceblue
}

/* adding angle to my profile pic */
.center {
    transform: skewY(-25deg);
}

h3 {
    color: var(--light);
    font-size: 21px;
    padding: 25px 0px 25px 0px;
    
}

ul p {
    padding-bottom: 50px;
    color:aliceblue
}

ul h3, ul p {
    display: flex;
    justify-content: center;
    list-style: none;
}

.image {
    display: flex;
    justify-content: center;
}

.image img {
    width: 1000px;
}

.content {
    display: flex;
    justify-content: center;
}

.content img {
    width: 400px;
    padding: 10px;
    margin: 20px;
}

h4 {
    display: flex;
    justify-content: center;
    color:#ffffff;
    padding: 25px 0px 10px 100px;

}

/* Created a class for my h4 to center it */
.main {
    padding-right: 100px;
}

/* Class to add structure to the section */
.profile {
    display: flex;
    padding-left: 100px;
    margin-bottom: 100px;
}

/* Class to format my paragraph */
.hero {
    padding-left: 50px;
    color:rgb(255, 255, 255);
    font-size: 20px;
}

footer ul li, footer h3, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px    
}

footer ul li a {
    color: white
}

/* Added hover effect just for Github since it's a clickable link */
footer ul li a:hover {
    color: var(--light)
}


/* Adding media query to adjust for screen size */
@media screen and (max-width: 1548px) {
    h2 p, h2 {
        display: flex;
        justify-content: center;
        padding: 100px 0px 5px 0px;
    }
        
    .profile {
        display: block;
        padding-left: 100px;
        
    }

    .center {
        padding-left: 500px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
}

/* Adding media query to adjust for 968 screen size */
@media screen and (max-width: 968px) {
    .profile, .center {
        display: flex;
        align-items: start;
        padding-left: 0px;
        
    }
}