* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif, Tahoma, Cambria, Cochin, Georgia, Times, 'Times New Roman';
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px 0px 5px;
    background-color:rgb(1, 18, 35);
    color: #01e3c1;
}

h1 {
    font-size: 200%;
    padding: 2.5px 10px 2px 50px;
    font-family: cursive;
    border-style:double;
    
}

h2 {
    background-color: #3f71a0;
    background-image: url("../images/IMG_5166.jpg");
    background-size: cover;
}

h2 p {
    display: flex;
    justify-content: end;
    padding: 125px 30px 25px 0px;
    color:#01e3c1;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    margin: 25px;
    list-style: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav a {
    color: #01e3c1;
    font-weight: bold;
}

/* Tablets - Header changes color*/
@media screen and (max-width: 992px) {
    header {
        background-color: blue;
    }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
    nav {
        background-color: crimson;
    }
}

/* Small smartphones - h1 changes color */
@media screen and (max-width: 576px) {
    h1 {
        background-color: blueviolet;
    }
}