* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif, Tahoma, Cambria, Cochin, Georgia, Times, 'Times New Roman';
    background-color:rgb(1, 18, 35);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px 0px 5px;
    background-color:rgb(1, 18, 35);
    color: #01e3c1;
}

h1 {
    font-size: 200%;
    padding: 2.5px 10px 2px 50px;
    font-family: cursive;
    border-style:double;
    
}

h2 {
    background-color: #3f71a0;
    background-image: url("../images/IMG_5166.jpg");
    background-size: cover;
}

h2 p {
    display: flex;
    justify-content: end;
    padding: 125px 30px 25px 0px;
    color:#01e3c1;
}

/* Only unordered list in nav get these styles */
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    margin: 25px;
    list-style: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav a {
    color: #01e3c1;
    font-weight: bold;
}

/* Creating hover effect over clickable titles */
nav ul li a:hover {
    color:aliceblue
}

h3 {
    color: #01e3c1;
    font-size: 21px;
    padding: 25px 0px 25px 0px;
    
}

ul p {
    padding-bottom: 50px;
    color:aliceblue
}

ul h3, ul p {
    display: flex;
    justify-content: center;
    list-style: none;
}

.image {
    display: flex;
    justify-content: center;
}

.image img {
    width: 600px;
}

.content {
    display: flex;
    justify-content: center;
}

.content img {
    width: 400px;
    padding: 10px;
    margin: 20px;
}

h4 {
    display: flex;
    justify-content: center;
    color:#ffffff;
    padding: 25px 0px 10px 100px;

}

/* Created a class for my h4 to center it */
.main {
    padding-right: 100px;
}